@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.form-diagnostic input,
.form-diagnostic select,
.form-diagnostic textarea {
  background-color: rgb(252, 241, 227);
  border-color: #e2610580;
  outline: none;
  accent-color: #e26105;
}

input {
  border: none;
  outline: none;
}
